<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/bootstrap/niceadmin/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div th:id="${matchId}" th:each="comment : ${comments}">
        <span th:text="${comment.getSummoner()}"></span>
        <span th:text="${comment.getContent()}"></span>
    </div>
</body>
</html>