<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/bootstrap/niceadmin/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div th:id="${matchId}" th:each="comment : ${comments}">
        <span th:class="${comment.getCommentId()}" th:text="${comment.getSummoner()}"></span>
        <span th:class="${comment.getCommentId()}" th:text="${comment.getContent()}"></span>
        <button th:class="${comment.getCommentId()}"
                th:text="|삭제|"
                th:commentId="${comment.getCommentId()}"
                th:matchId="${matchId}"
                th:onclick="deleteComment(this.getAttribute('commentId'))"></button>
    </div>
</body>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script th:inline="javascript">

    let matchId = [[${matchId}]];

    function deleteComment(commentId){

        console.log("matchId= ", matchId);

        let deleteCommentDto = JSON.stringify({
            matchId: matchId,
            commentId: commentId
        })

        console.log("deleteCommentDto= ", deleteCommentDto);

        $.ajax({
            url: '/comments',
            contentType: 'application/json',    // json 전송 시에는 필요
            type: 'DELETE',
            data: deleteCommentDto
        })
            .done(function (){
                $('.' + commentId).remove();
            })
    }
</script>
</html>